/* contact-form */

.form {
    padding: 40px;
    width: 630px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(211, 211, 211, 0.25);
}

.form-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 30px;
    font-size: 18px;
}
.form-group:last-of-type {
    margin-bottom: 35px;
}
.form-group-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
.form-group-row {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.form-group-row > .input + .input {
    margin-left: 10px;
}

.input {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;

    background: #EEEEEE;
    border: 1px solid #C0C0C0;
    border-radius: 6px;

    font-size: 18px;
    color: #31405b;
}

.input::placeholder {
    color: rgba(49, 64, 91, 0.5);
}

.radio-row {
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
}

.real-radio {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.custom-radio {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: #EEEEEE;
    border: 1px solid #C0C0C0;
    border-radius: 50%
}



.custom-radio::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 12px;
    height: 12px;
    border-radius: 50%;

    background: #2AB698;

    transition: transform 0.2s ease-in;
}

.real-radio:checked + .custom-radio::before {
    transform: translate(-50%, -50%) scale(1);
}

.checkbox-row {
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
}
.real-checkbox {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
    appearance: none;
}
.custom-checkbox {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: #EEEEEE;
    border: 1px solid #C0C0C0;
    border-radius: 2px;
    flex-shrink: 0;
}

.custom-checkbox::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-image: url('../img/contacts/check.svg');

    width: 17px;
    height: 17px;
    transition: transform 0.2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.input:focus {
    outline: none;
    border: 1px solid #0ac883;
    box-shadow: 0px 0px 10px 0 rgba(51, 148, 112, 0.5);
}

.contacts-header {
    margin-bottom: 40px;
}

.contact-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.contact-info {
    width: 470px;
}

.contact-block {
    margin-bottom: 40px;
    /* height: 182px; */
}
.contact-block:last-child {
    margin-bottom: 0;
}
.contact-block-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 28px;
    color: #31405B;
}
.contact-block-body {
    font-size: 20px;
    width: 470px;
    /* height: 345px; */

}

.contact-list {
}

.contact-list li {
    margin-bottom: 15px;
}

.contact-list a {
    color: #138ece;
    text-decoration: none;
}

.contact-list-icon {
    position: relative;
    padding-left: 39px;
}

.contact-list-icon::before {
    content: " ";
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

.contact-list-icon.phone::before {
    background-image: url('./../img/contacts/phone.svg');
}
.contact-list-icon.email::before {
    background-image: url('./../img/contacts/mail.svg');
}
.contact-list-icon.address::before {
    background-image: url('./../img/contacts/map-pin.svg');
}